.button {
  font-family: "HarryPotter";
  font-size: 18px;
  line-height: 1.3;
  padding: 18px 36px;
  color: var(--color-secondary);
  border-radius: 50px;
  transition-duration: 0.2s;
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
