.categories-section {
  background-color: var(--color-dark);
  &__list {
    margin-top: 0;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
  }

  &__list-card {
    list-style: none;
    
  }
  &__list-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.categories-section.visually-hidden .card__button{
  display: none;
}