.students-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-dark);
  &__title{
    text-align: center;
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
    color: var(--color-primary);
    padding-top: 100px;
    text-transform: uppercase;
  }
}
.flex-container{
  width: 1240px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


