:root{
    --color-primary: #FABF59;
    --color-secondary: #F9B50C;
    --color-dark: #1D1D1D;

    --font-primary: 'HarryPotter';
    --font-size: 16px;
    --font-size-h1: 80px;
    --line-height-main: 1.3;
}