/* Webfont: BluuNextCyrillic-Bold */@font-face {
    font-family: 'BluuNextCyrillic';
    src: url('Bluu Next Cyrillic.woff2') format('woff2'), /* Modern Browsers */
         url('Bluu Next Cyrillic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

